                        <td><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox" name="post[]"><i></i></label></td>
                        <td>{{student.name}}</td>
                        <td>{{student.course}}</td>
                        <td>{{student.enrollment}}</td>
                        <td>{{student.city}}</td>
                        <td>{{student.gpa}}</td>
                        <td>
			  <i class="fa fa-edit text-primary text" {{action "editStudent" student}}></i>
                        </td>
                        <td>
                          <i class="fa fa-times text-danger text" {{action "deleteStudent" student}}></i>
                       </td>
